.cta-animation {
    display: flex;
    color: #000000de;
    border: none;
    cursor: pointer;
    height: 25px;
    border-radius: 16px;
    background-color: #e0e0e0;
    padding: 0 10px;
    align-items: center;
    gap: 4px;
}

.hide-delete {
    display: none;
}

.delete {
    display: flex;
}

.delete:hover {
    display: flex;
}

.cta-when-click {
    display: flex;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    height: 25px;
    border-radius: 16px;
    background-color: #3F51B5;
    padding: 0 3px 0 8px;
    align-items: center;
    gap: 4px;
}

.cta-when-click:hover {
    background-color: #5a68b6;
}

.icon-delete {
    color: #C9CBCB;
    font-size: 20px;
}

.icon-delete:hover {
    color: #FFFFFF;
}