.cta-animation {
    display: flex;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    cursor: pointer;
    height: 25px;
    border-radius: 16px;
    background-color: rgb(224, 224, 224);
    padding: 0 10px;
    align-items: center;
    gap: 4px;
}

.hide-delete {
    display: none;
}

.delete {
    display: flex;
}

.delete:hover {
    display: flex;
}

.cta-when-click {
    display: flex;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    cursor: pointer;
    height: 25px;
    border-radius: 16px;
    background-color: rgb(63, 81, 181);
    padding: 0 3px 0 8px;
    align-items: center;
    gap: 4px;
}

.cta-when-click:hover {
    background-color: rgba(96, 109, 255, 0.87);
}

.icon-delete {
    color: rgb(201, 203, 203);
    font-size: 20px;
}

.icon-delete:hover {
    color: rgb(255, 255, 255);
}