*,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #39445a;
    font-family: "Montserrat", sans-serif;
}

.container {
    padding: 140px 0 70px;
    color: #fff;
    text-align: center;
}

.page-title {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 28px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 35px 35px 15px;
    justify-content: space-evenly;
}

.pagination {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.page-link {
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.page-link-active {
    background-color: #3f51b5;
}

.page-link:hover {
    background-color: rgba(0, 0, 0, .2);
}

.page-link-active:hover {
    background-color: rgba(63, 81, 181, .6);
}

.break-label {
    padding: 5px 10px;
    margin-right: 10px;
}