*,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #39445a;
    font-family: "Montserrat", sans-serif;
}

.container {
    padding: 130px 0 70px;
    color: #fff;
    text-align: center;
}

.page-title {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 28px;
    padding: 5px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 35px 15px 35px;
    justify-content: space-evenly;
}

.button-container {
    display: flex;
    gap: 6px;
    padding: 10px 50px 0;
    flex-wrap: wrap;
}