.pagination {
    display: flex;
    justify-content: center;
}

.page {
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.page-active {
    background-color: #3f51b5;
}

.page:hover {
    background-color: rgba(0, 0, 0, .2);
}

.page-active:hover {
    background-color: rgba(63, 81, 181, .6);
}